{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{{ function('wp_body_open') }}
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="header">
			{% block header %}
				{% include "header.twig" %}
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			
			{# Modal vidéo global #}
			<div id="cw-video-modal" class="fixed inset-0 z-50 hidden">
			<div class="cw-backdrop absolute inset-0 bg-black/70"></div>
			<div class="relative mx-auto w-[92vw] max-w-[1200px] mt-[6vh]">
				<button type="button"
						class="cw-close absolute -top-10 right-0 inline-flex items-center justify-center
							w-10 h-10 rounded bg-white/90 text-ms-black hover:bg-white"
						aria-label="Fermer">
				<i class="fa-solid fa-xmark"></i>
				</button>

				{# Conteneur 16:9 pour l’iframe OU la balise <video> (injectés par JS) #}
				<div class="relative rounded-2xl overflow-hidden bg-black pt-[56.25%]">
				<div class="cw-video-slot absolute inset-0"></div>
				</div>
			</div>
			</div>

			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>