{% if items %}
    <ul class="flex space-x-20 justify-center {{ class|default('') }}">
    {% for item in items %}
        <li class="{{ item.classes | join(' ') }}">
            <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
            {% if item.children %}
                {% include "menu.twig" with {'items': item.children, 'class': class} %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
